.listing {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.name {
    font-size: 2rem;
}

.meta {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

@media only screen and (max-width: 720px) {
    .meta {
        flex-direction: column-reverse;
    }
}
